body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:pink;
}

.calculator {
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.display {
    background-color: #222;
    color: purple;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: right;
}

.previous-operand {
    color: purple;
    font-size: 1rem;
    min-height: 20px;
}

.current-operand {
    color: white;
    font-size: 2rem;
    min-height: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-number {
    background-color: #666;
    color: rgb(255, 255, 255);
}

.btn-number:hover {
    background-color: #777;
}

.btn-operator {
    background-color: plum;
    color: white;
}

.btn-operator:hover {
    background-color: plum;
}

.btn-clear {
    background-color: #a5a5a5;
    color: rgb(0, 0, 0);
}

.btn-clear:hover {
    background-color: #bbbbbb;
}

.btn-equals {
    background-color: plum;
    color: rgb(255, 255, 255);
}

.btn-equals:hover {
    background-color: plum;
}